<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control" #nombreIngrediente>
                </div>
                <div class="col-sm-2">
                    <label for="amount">Cantidad</label>
                    <input type="number" id="amount" class="form-control" #cantidadIngrediente>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                <button class="btn btn-success mx-1" type="button" (click)="AgregarIngrediente(nombreIngrediente,cantidadIngrediente)"> Agregar</button>
                <button class="btn btn-danger mx-1" tabindex="button"> Remover</button>
                <button class="btn btn-primary mx-1" tabindex="button"> Limpiar</button>
                </div>
            </div>
        </form>
    </div>
</div>